{% extends "base.html" %}
{% load static %}
{% load cart_extras %}

{% block content %}

<div class="container-lg my-3">

    <!-- Cart Heading -->
    <div class="row justify-content-center">
        <div class="col-11 col-lg-12">
            <h2 class="my-4 text-center text-lg-start fs-1 cart-title">Your Shopping Cart
                {% if product_count > 0 %}
                <small class="d-block d-lg-inline text-muted fs-5">({{ product_count }} item{% if product_count != 1 %}s{% endif %})</small>
                {% endif %}
            </h2>
            {% if product_count == 0 %}
            <div class="row g-0 justify-content-center">
                <hr class="mt-0 mb-4">
            </div>
            {% endif %}
        </div>
    </div>

    <!-- Cart items list -->
    <div class="row justify-content-evenly">
        <div class="col-11 col-lg-8">
            {% if cart_items %}
            <div class="table-responsive rounded text-center text-md-start">
                <table class="table table-sm table-bordered cart-table mb-0">
                    {% for item in cart_items %}
                    <tr>
                        <td class="p-md-3 w-140px">
                            {% if item.product.image %}
                            <img src="{{ item.product.image.url }}" class="img-fluid" 
                                    alt="{{ product.brand.friendly_name }}: {{ product.name }}">
                            {% else %}
                            <img src="{{ MEDIA_URL }}no-image.jpg" class="img-fluid"
                                    alt="{{ product.brand.friendly_name }}: {{ product.name }}">
                            {% endif %}
                        </td>
                        <td class="pt-md-5 position-relative">
                            <p class="my-0"><strong>{{ item.product.brand.friendly_name }}:
                                    {{ item.product.name }}</strong></p>
                            {% if item.product.volume or item.product.abv %}
                            <p class="mt-0 mb-3 text-muted">{% if item.product.volume %}{{ item.product.volume|round_down }}cl{% if item.product.volume and item.product.abv %}, {% endif %}{% endif %}{% if item.product.abv %}{{ item.product.abv|round_down }}%{% endif %}</p>
                            {% endif %}
                            {% if user.is_authenticated %}
                            <form class="form" action="{% url 'update_wishlist' item.product.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="wishlist-btn text-uppercase mt-4 p-0 d-none d-md-inline-block">
                                    {% if item.product in wishlist %}
                                    Remove from wishlist<span class="ms-1"><i class="fas fa-heart"></i></span>
                                    {% else %}
                                    Add to wishlist<span class="ms-1"><i class="far fa-heart"></i></span>
                                    {% endif %}
                                </button>
                                <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                            </form>
                            {% endif %}
                        </td>
                        <td class="pt-md-5">
                            <div
                                class="d-flex flex-column justify-content-start align-items-center align-items-md-start">
                                <form class="form update-form w-75" action="{% url 'update_cart' item.product_id %}"
                                    method="POST">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="mb-1"><strong>Quantity:</strong></p>
                                            <a class="update-btn text-primary text-uppercase mb-1 p-0">
                                                Update<span class="ms-1"><i class="fas fa-edit"></i></span>
                                            </a>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-custom rounded-0 rounded-start"
                                                        data-product-id="{{ item.product.id }}"
                                                        id="decrement-qty-{{ item.product.id }}">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                </div>
                                                <input class="form-control qty-input" type="number" name="quantity"
                                                    value="{{ item.quantity }}" min="1" max="99"
                                                    data-product-id="{{ item.product.id }}"
                                                    id="id-qty-{{ item.product.id }}">
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-custom rounded-0 rounded-end"
                                                        data-product-id="{{ item.product.id }}"
                                                        id="increment-qty-{{ item.product.id }}">
                                                        <i class="fas fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="submit" style="display:none" name="submit">
                                </form>
                                <p class="mt-2 mb-0"><small>Price: £{{ item.product.price }}</small></p>
                            </div>
                        </td>
                        <td class="pt-md-5">
                            <p class="mb-1"><strong>Item total:</strong></p>
                            <p class="mt-0 mb-2 fs-5">
                                <strong>£{{ item.product.price|calc_subtotal:item.quantity }}</strong>
                            </p>
                            <a class="remove-btn text-danger text-uppercase mt-4 p-0 d-block"
                                id="remove-{{ item.product_id }}">
                                Remove<span class="ms-1"><i class="fas fa-trash"></i></span>
                            </a>
                            {% if user.is_authenticated %}
                            <form class="form" action="{% url 'update_wishlist' item.product.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="wishlist-btn text-uppercase my-3 p-0 d-md-none">
                                    {% if item.product in wishlist %}
                                    Remove from wishlist<span class="ms-1"><i class="fas fa-heart"></i></span>
                                    {% else %}
                                    Add to wishlist<span class="ms-1"><i class="far fa-heart"></i></span>
                                    {% endif %}
                                </button>
                                <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="d-flex justify-content-center">
                    <a href="{% url 'shop' %}" class="btn p-2 back-to-shop my-4">
                        <i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i>
                        <span class="text-uppercase">&nbsp;Back to shop</span>
                    </a>
                </div>
            </div>
            {% else %}
            <div class="d-flex flex-column justify-content-center align-items-center mb-4 mx-3">
                <p class="lead mt-5">Your cart is empty.</p>
                <a href="{% url 'shop' %}" class="btn p-2 back-to-shop">
                    <i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i>
                    <span class="text-uppercase">&nbsp;Back to shop</span>
                </a>
            </div>
            {% endif %}
        </div>

        <!-- Cart totals and checkout button -->
        {% if product_count > 0 %}
        <div class="col-10 col-sm-8 col-lg-4 mb-4">
            <div class="mx-lg-4 p-4 rounded-3 box-shadow-custom">
                <h4 class="mb-4"><strong>Order now</strong></h4>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <span class="cart-subtotal">Subtotal</span>
                    <span>£{{ total|floatformat:2 }}</span>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <span class="cart-delivery">Delivery</span>
                    <span>£{{ delivery|floatformat:2 }}</span>
                </div>
                <hr>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <span class="cart-total"><strong>Total</strong></span>
                    <span><strong>£{{ grand_total|floatformat:2 }}</strong></span>
                </div>
                {% if free_delivery_delta > 0 %}
                <p class="mb-1 text-danger text-center">
                    You could get free delivery by spending just <strong>£{{ free_delivery_delta }}</strong> more!
                </p>
                {% endif %}
                <a href="{% url 'checkout' %}" class="btn btn-custom text-uppercase w-100 my-2 fs-5 box-shadow-custom">Checkout&nbsp;
                    <i class="fas fa-lock"></i></a>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'shop/includes/quantity_input_script.html' %}
<script type="text/javascript">
    // Update quantity on click
    // CREDIT - https://stackoverflow.com/questions/64612746/how-would-i-do-this-ajax-jquery-in-vanilla-js
    document.querySelectorAll('.update-btn').forEach(item => {
        item.addEventListener('click', function () {
            let updateForm = this.closest('.update-form');
            let qtyInput = updateForm.querySelector('.qty-input');

            if (parseInt(qtyInput.value) >= parseInt(qtyInput.min) && parseInt(qtyInput.value) <= parseInt(qtyInput.max)) {
                let formData = new FormData(updateForm)
                let productId = qtyInput.getAttribute('id').split('id-qty-')[1];
                let url = `/cart/update/${productId}/`;
                let csrfToken = "{{ csrf_token }}";

                let httpRequest = new XMLHttpRequest()
                httpRequest.open('POST', url)
                httpRequest.setRequestHeader('X-CSRF-Token', csrfToken)
                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState == 4 && httpRequest.status == 200) {
                        location.reload();
                    }
                }
                httpRequest.send(formData)
            } else {
                updateForm.submit.click();
            }
        });
    });

    // Remove item and reload on click
    // CREDIT - https://stackoverflow.com/questions/64612746/how-would-i-do-this-ajax-jquery-in-vanilla-js
    document.querySelectorAll('.remove-btn').forEach(item => {
        item.addEventListener('click', function () {
            let productId = this.getAttribute('id').split('remove-')[1];
            let url = `/cart/remove/${productId}/`;
            let csrfToken = "{{ csrf_token }}";
            let params = 'csrfmiddlewaretoken=' + encodeURIComponent(csrfToken)
            let httpRequest = new XMLHttpRequest()
            httpRequest.open('POST', url)
            httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState == 4 && httpRequest.status == 200) {
                    location.reload();
                }
            }
            httpRequest.send(params)
        });
    });
</script>
{% endblock %}