{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid hero-container d-flex flex-column justify-content-evenly justify-content-md-center py-4">
    <div class="hero-image"></div>
    <div class="row justify-content-center my-md-4">
        <div class="col-10 d-flex justify-content-center align-items-center text-light text-center my-md-4">
            <h2>Welcome to Whisky Legends!</h2>
        </div>
    </div>
    <div class="row justify-content-center my-md-4">
        <div class="col-10 text-center d-sm-flex justify-content-center align-items-center my-md-4">
            <a href="{% url 'shop' %}" class="btn btn-custom mb-1 mb-sm-0 px-3 box-shadow-custom">Visit our online store</a>
            <p class="text-light text-center m-0 ms-sm-4 fs-5">To browse and/or purchase from our current whisky
                selection</p>
        </div>
    </div>
</div>

{% endblock %}