.active-profile {
    box-shadow: 0 6px 10px rgba(0, 0, 0, .8), 0 0 6px rgba(0, 0, 0, .5);
    border: 5px solid rgba(0, 0, 0, .8);
}

.active-profile h4 {
    color: rgba(0, 0, 0, .8);
    font-weight: 900;
}

.profile-form-input {
    border-color: rgba(97, 27, 27, 25%);
    margin-bottom: .5rem;
}

.profile-form-input:focus,
.profile-form-input:active {
    border-color: rgba(97, 27, 27, 50%);
    box-shadow: 0 0 0 0.25rem rgba(97, 27, 27, 40%);
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #212529;
}

#id_default_country option:first-child {
    color: #7e868d;
}

/* /// ---------------------------------------------------- MEDIA QUERIES */

/* For very small screen sizes with maximum height of 325px */
@media screen and (max-width: 325px) {
    td {
        font-size: 75%;
    }
}