/* All main section names within this style sheet are preceeded with /// for ease of finding */

/* Variables for colours used throughout site*/
:root {
    --logo-text-color: #611b1b;
    --bs-dark: #212529;
    --paper-url: url("/media/bg-header-paper.jpg");
    --whisky-hero-url: url("/media/whisky-hero-image.jpg");
}

/* Element selectors */
body {
    font-family: 'Roboto Condensed', sans-serif;
}

main {
    position: relative;
    top: 96px;
}

footer {
    position: relative;
    bottom: -96px;
}

/* Box shadows */
.box-shadow-custom {
    box-shadow: 0 6px 10px rgba(0, 0, 0, .8), 0 0 6px rgba(0, 0, 0, .5);
}

.box-shadow-success {
    box-shadow: 0 6px 10px #124d20, 0 0 6px #124d20;
}

.box-shadow-warning {
    box-shadow: 0 6px 10px #5f4804, 0 0 6px #5f4804;
}

.box-shadow-error {
    box-shadow: 0 6px 10px #641820, 0 0 6px #641820;
}

.box-shadow-info {
    box-shadow: 0 6px 10px #01264e, 0 0 6px #01264e;
}


/* Links/Buttons */
.btn-custom {
    color: #fff !important;
    background-color: var(--logo-text-color);
}

.btn-custom:hover,
.btn-custom:focus {
    opacity: .9;
}

.link-custom {
    color: var(--logo-text-color);
}

.link-custom:hover,
.link-custom:focus {
    font-weight: 600;
    color: var(--logo-text-color);
}

/* Widths & Heights */
.maxw-250px {
    max-width: 250px !important;
}

.minw-390px {
    min-width: 390px;
}

.w-15 {
    width: 15%;
}

.w-140px {
    width: 140px;
}


/* /// ---------------------------------------------------- SPECIFIC PAGE STYLES */

/* Home page */

.hero-container {
    position: relative;
    background-color: rgba(0, 0, 0, .3);
    height: 500px;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

.hero-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--whisky-hero-url) no-repeat center center;
    background-size: cover;
    z-index: -1;
}

.hero-container h2 {
    font-size: 2rem;
    text-shadow: 4px 4px 8px #000;
}

/* Shop page */

.filter-bar-toggler .dropdown-toggle[aria-expanded="true"]::after {
    border-top: none;
    border-bottom: 6px solid #fff;
}

.filter-bar {
    font-family: 'Roboto Condensed', sans-serif;
    z-index: 1;
    background-color: #fff;
}

.filter-bar .dropdown {
    border: .5px solid rgba(0, 0, 0, .3);
    border-radius: .3rem;
    margin-right: .75rem;
    margin-left: .75rem;
}

.filter-bar .dropdown-item:hover,
.filter-bar .dropdown-item:focus {
    font-weight: 600 !important;
    cursor: pointer;
}

.filter-btn {
    color: rgba(0, 0, 0, .6);
    font-weight: 600;
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-bar .dropdown-menu {
    min-width: 200px;
}

.active-filter {
    border: 2px solid var(--bs-dark);
    color: var(--bs-dark);
}

.min-price,
.max-price {
    border-color: rgba(0, 0, 0, .4);
    border-radius: .3rem;
    height: 30px;
    width: 55px;
}

.shop-title {
    color: rgba(0, 0, 0, .7);
}

.product-card-title-link {
    color: inherit !important;
    text-decoration: none;
}

.btt-button {
    display: none;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 99;
}

.btt-button i {
    color: var(--logo-text-color);
    font-size: 300%;
}

.btt-link {
    cursor: pointer;
}

/* Product Detail page */

.product-detail-container {
    font-size: 110%;
}

#ratingValue {
    font-size: 120%;
}

#stars i {
    color: var(--logo-text-color);
}

.rating-count {
    font-size: 80%;
}

/* Cart page */

.cart-table {
    border-color: rgba(0, 0, 0, .25);
}

.cart-table td {
    border-left: none;
    border-right: none;
}

.cart-table .wishlist-btn,
.remove-btn,
.update-btn  {
    font-size: 90%;
}

.remove-btn,
.update-btn {
    cursor: pointer;
    background-color: inherit;
    text-decoration: none;
    border: none;
}

.remove-btn:hover,
.remove-btn:focus,
.update-btn:hover,
.update-btn:focus {
    color: inherit;
    text-decoration: underline;
}

.cart-subtotal,
.cart-delivery {
    font-size: 110%;
    color: rgba(0, 0, 0, .8);
}

.cart-total {
    font-size: 120%;
}

/* /// ---------------------------------------------------- MULTI PAGE STYLES */

/* Product detail page and Cart page */
.back-to-shop {
    border-color: var(--logo-text-color) !important;
    color: var(--logo-text-color);
}

.back-to-shop:hover,
.back-to-shop:focus {
    background-color: var(--logo-text-color);
    color: #fff;
}

.wishlist-btn {
    background-color: inherit;
    color: inherit;
    text-decoration: none;
    border: none;
}

.wishlist-btn:hover,
.wishlist-btn:focus {
    color: inherit;
    text-decoration: underline;
}

.wishlist-btn i {
    color: var(--logo-text-color);
    font-size: 120%;
}


/* /// ---------------------------------------------------- BASE.HTML styles */

/* Header/Navbar */

header a {
    color: black !important;
    text-transform: uppercase;
}

header a:hover,
header a:focus {
    font-weight: 600;
}

.topnav {
    background: var(--paper-url) no-repeat center center;
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    border-bottom: 2px solid var(--logo-text-color);
}

.logo {
    font-family: 'Lobster', cursive;
    color: var(--logo-text-color) !important;
    text-transform: none;
}

.search-bar-container {
    border-color: var(--logo-text-color) !important;
}

.search-bar,
.search-bar-icon {
    border: none;
}

.search-bar-icon {
    background-color: white !important;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 1);
    border: none;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: transparent !important;
}

.account-dropdown {
    background: var(--paper-url) no-repeat center center;
    background-size: cover;
    border-color: var(--logo-text-color) !important;
}

.mobile-search-dropdown {
    background: var(--paper-url) no-repeat center center;
    background-size: cover;
    border-color: var(--logo-text-color) !important;
    width: calc(100vw + 2px) !important;
    top: 78px !important;
    left: -1px !important;
}

.main-nav-dropdown {
    background: var(--paper-url) no-repeat center center;
    background-size: cover;
    border-color: var(--logo-text-color) !important;
    position: absolute;
    left: 0;
    top: 97px;
    z-index: 2;
    font-size: 1rem !important;
}

/* Footer */

footer {
    background: var(--paper-url) no-repeat center center;
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    border-top: 2px solid var(--logo-text-color);
}

.mailchimp-container,
.facebook-container {
    border-color: transparent !important;
}

#mc-embedded-subscribe-form .input-group {
    border-color: var(--logo-text-color) !important;
}

#mc-embedded-subscribe-form .btn {
    border-radius: 0;
}

.brandingLogo img {
    border-color: var(--logo-text-color) !important;
}

.social-links i {
    font-size: 280%;
}

.modal-content {
    background: var(--paper-url) no-repeat center center;
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
}

.modal-header {
    border: none !important;
}

.modal-body {
    background-color: #fff;
}

.modal-footer {
    border: none !important;
}

/* Bootstrap toasts */

.message-container {
    position: fixed;
    top: 105px;
    right: 5px;
    z-index: 9999;
    max-width: calc(100% - 10px);
}

.custom-toast {
    overflow: visible;
    color: rgba(0, 0, 0, 1);
}

.custom-toast .toast-header {
    color: rgba(0, 0, 0, 1);
}

.toast-close {
    background-color: inherit;
    border: none;
}

.toast-close i {
    color: rgba(0, 0, 0, .6);
    font-size: 150%;
}

.cart-notification-wrapper {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* /// ---------------------------------------------------- MEDIA QUERIES */

/* For very small screen sizes with maximum height of 325px */
@media screen and (max-width: 325px) {
    #mobile-search > div {
        margin-left: .5rem !important;
    }

    .navbar-toggler {
        margin-right: .25rem !important;
    }

    #mobile-logo h1 {
        font-size: 180% !important;
    }
}

/* For very small screen sizes with minimum height of 375px */
@media screen and (min-width: 375px) {
    .px-375px-3 {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .nav-link {
        min-width: 45px !important;
    }
}

/* For very small screen sizes with maximum height of 470px */
@media screen and (max-width: 470px) {
    .mobile-search-dropdown {
        top: 71px !important;
    }

    .list-inline-item .nav-link,
    .list-inline-item .navbar-toggler {
        font-size: 65%;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .brandingLogo img {
        width: 70% !important;
    }

    .btt-button {
        right: 7px;
        bottom: 7px;
    }

    .btt-button i {
        font-size: 275%;
    }
}


/* For small screen sizes with maximum height of 575px - below Bootstrap sm */
@media screen and (max-width: 575px) {
    .product-detail-container hr {
        width: 75%;
    }

    .message-container {
        left: 5%;
        right: 5%;
    }

    .toast {
        width: 100% !important;
    }
}

/* For small screen sizes with minimum height of 576px - Bootstrap sm */
@media screen and (min-width: 576px) {
    .minw-sm-390px {
        min-width: 390px;
    }
}

/* For screen sizes with maximum height of 767px - below Bootstrap md */
@media screen and (max-width: 767px) {
    .navbar {
        height: 96px;
    }

    .shop-container nav {
        margin: 1rem;
    }

    .filter-bar .dropdown {
        margin-top: .3rem;
        width: 100%;
    }

    .filter-btn {
        width: 100%;
    }

    .filter-bar .dropdown-menu {
        width: 100%;
    }

    .cart-table td {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .cart-table td img {
        width: 50%;
    }
}

/* For screen sizes with minimum height of 768px - Bootstrap md */
@media screen and (min-width: 767px) {
    main {
        top: 122px;
    }

    footer {
        bottom: -122px;
    }

    .topnav {
        height: 122px;
    }

    .account-icon:hover,
    .account-icon:focus {
        font-size: 110%;
        padding: 6.3px !important;
    }

    .brandingLogo img {
        width: 90% !important;
        max-width: 222px;
    }

    .hero-container h2 {
        font-size: 3rem;
    }

    .hero-container .btn {
        font-size: 1.5rem;
    }

}

/* For screen sizes with maximum height of 991px - below Bootstrap lg */
@media screen and (max-width: 991px) {}

/* For screen sizes with minimum height of 992px - Bootstrap lg */
@media screen and (min-width: 992px) {
    .hero-container {
        height: 600px;
    }

    .filter-btn {
        width: 200px;
    }
}

/* For screen sizes with minimum height of 1200px - Bootstrap xl */
@media screen and (min-width: 1200px) {
    .hero-container {
        height: 700px;
    }
}