/* All main section names within this style sheet are preceeded with /// for ease of finding */

/* Variables for colours used throughout site*/
:root {
    --logo-text-color: #611b1b;
    --paper-url: url("/media/bg-header-paper.jpg");
}

/* Box shadows */
.box-shadow-custom {
    box-shadow: 0 6px 10px rgba(0, 0, 0, .8), 0 0 6px rgba(0, 0, 0, .5);
}


/* /// ---------------------------------------------------- SPECIFIC PAGE STYLES */

/* Home page */

.hero-container {
    position: relative;
    background-color: rgba(0, 0, 0, .3);
    height: 500px;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

.hero-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("/media/whisky-hero-image.jpg") no-repeat center center;
    background-size: cover;
    z-index: -1;
}

.hero-container h2 {
    font-size: 2rem;
    text-shadow: 4px 4px 8px #000;
}

.hero-container .btn {
    background-color: var(--logo-text-color);
    color: #fff;
}


/* /// ---------------------------------------------------- BASE.HTML styles */

/* Header/Navbar */

header a {
    color: black !important;
    text-transform: uppercase;
}

header a:hover,
header a:focus {
    font-weight: 600;
}

.topnav {
    background: var(--paper-url) no-repeat center center;
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    border-bottom: 2px solid var(--logo-text-color);
}

.logo {
    font-family: 'Lobster', cursive;
    color: var(--logo-text-color) !important;
    text-transform: none;
}

.search-bar-container {
    border-color: var(--logo-text-color) !important;
}

.search-bar,
.search-bar-icon {
    border: none;
}

.search-bar-icon {
    background-color: white !important;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 1);
    border: none;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: transparent !important;
}

.account-dropdown {
    background: var(--paper-url) no-repeat center center;
    background-size: cover;
    border-color: var(--logo-text-color) !important;
}

.mobile-search-dropdown {
    background: var(--paper-url) no-repeat center center;
    background-size: cover;
    border-color: var(--logo-text-color) !important;
    width: calc(100vw + 2px) !important;
    top: 78px !important;
    left: -1px !important;
}

.main-nav-dropdown {
    background: var(--paper-url) no-repeat center center;
    background-size: cover;
    border-color: var(--logo-text-color) !important;
    position: absolute;
    left: 0;
    top: 97px;
    z-index: 2;
    font-size: 1rem !important;
}

/* Footer */

footer {
    background: var(--paper-url) no-repeat center center;
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    border-top: 2px solid var(--logo-text-color);
}

.privacy-policy a {
    color: var(--logo-text-color);
}

.privacy-policy a:hover,
.privacy-policy a:focus {
    font-weight: 600;
}

.mailchimp-container,
.facebook-container {
    border-color: transparent !important;
}

#mc-embedded-subscribe-form .input-group {
    border-color: var(--logo-text-color) !important;
}

#mc-embedded-subscribe-form .btn {
    color: #fff !important;
    background-color: var(--logo-text-color);
    border-radius: 0;
}

.brandingLogo img {
    border-color: var(--logo-text-color) !important;
}

.social-links i {
    font-size: 280%;
}

.modal-content {
    background: var(--paper-url) no-repeat center center;
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
}

.modal-header {
    border: none !important;
}

.modal-body {
    background-color: #fff;
}

.modal-footer {
    border: none !important;
}

.modal-footer .btn {
    color: #fff !important;
    background-color: var(--logo-text-color);
}


/* /// ---------------------------------------------------- MEDIA QUERIES */

/* For very small screen sizes with maximum height of 470px */
@media screen and (max-width: 470px) {
    .mobile-search-dropdown {
        top: 71px !important;
    }

    .list-inline-item .nav-link,
    .list-inline-item .navbar-toggler {
        font-size: 65%;
        padding-left: 0;
        padding-right: 0;
    }

    .brandingLogo img {
        width: 70% !important;
    }
}

/* For screen sizes with maximum height of 767px - below Bootstrap md */
@media screen and (max-width: 767px) {
    .navbar {
        height: 96px;
    }

}

/* For screen sizes with minimum height of 768px - Bootstrap md */
@media screen and (min-width: 767px) {

    .account-icon:hover,
    .account-icon:focus {
        font-size: 110%;
        padding: 6.3px !important;
    }

    .brandingLogo img {
        width: 90% !important;
        max-width: 222px;
    }

    .hero-container h2 {
        font-size: 3rem;
    }

    .hero-container .btn {
        font-size: 1.5rem;
    }
}

/* For screen sizes with minimum height of 992px - Bootstrap lg */
@media screen and (min-width: 992px) {
    .hero-container {
        height: 600px;
    }
}

/* For screen sizes with minimum height of 1200px - Bootstrap xl */
@media screen and (min-width: 1200px) {
    .hero-container {
        height: 700px;
    }
}