<div id="topnav" class="row d-none d-md-flex px-3 px-lg-5 topnav">
    <!-- Logo -->
    <div class="col-md-3 col-lg-4 my-auto p-0 pb-2 text-start">
        <a href="{% url 'home' %}" class="nav-link">
            <h1 class="logo fs-1 my-0">Whisky <br> Legends</h1>
        </a>
    </div>
    <!-- Main Nav and Search Bar -->
    <div class="col-md-6 col-lg-4 my-auto">
        <div class="row">
            <div class="col">
                <ul class="list-inline list-unstyled my-auto text-center">
                    <li class="list-inline-item">
                        {% url 'home' as url %}
                        <a class="nav-link m-1 p-1 {% if request.path == url %}active{% endif %}" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="list-inline-item">
                        {% url 'shop' as url %}
                        <a class="nav-link m-1 p-1 {% if url in request.path %}active{% endif %}" href="{% url 'shop' %}">Shop</a>
                    </li>
                    <li class="list-inline-item">
                        {% url 'contact' as url %}
                        <a class="nav-link m-1 p-1 {% if request.path == url %}active{% endif %}" href="{% url 'contact' %}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form method="GET" action="{% url 'shop' %}">
                    <div class="input-group w-100 border rounded-3 search-bar-container">
                        <input class="form-control px-4 search-bar" type="text" name="search"
                            placeholder="Search our whiskies..." title="Main search bar">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black search-bar-icon" type="submit"
                                aria-label="Search bar icon button">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Cart and Account Icons -->
    <div class="col-md-3 col-lg-4 my-auto p-0">
        <ul class="list-unstyled my-0 d-flex align-items-center justify-content-end">
            <li class="me-1">
                {% url 'view_cart' as url %}
                <a class="nav-link p-2 cart-icon {% if request.path == url %}active{% endif %}" href="{% url 'view_cart' %}">
                    <div class="text-center">
                        <div><i class="fas fa-shopping-cart fa-1x"></i></div>
                        <p class="my-0">
                            {% if grand_total %}
                            £{{ grand_total|floatformat:2 }}
                            {% else %}
                            £0.00
                            {% endif %}
                        </p>
                    </div>
                </a>
            </li>
            <li class="dropdown">
                <a href="#" class="nav-link p-2 account-icon" id="user-options" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" aria-label="Accounts dropdown link">
                    <div class="text-center">
                        <div><i class="fas fa-user fa-2x"></i></div>
                    </div>
                </a>
                <div class="dropdown-menu border rounded-3 account-dropdown" aria-labelledby="user-options">
                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    {% url 'add_product' as url %}
                    <a href="{% url 'add_product' %}" class="dropdown-item {% if request.path == url %}active{% endif %}">Product Management</a>
                    {% endif %}
                    {% url 'profile' as url %}
                    <a href="{% url 'profile' %}" class="dropdown-item {% if url in request.path %}active{% endif %}">My Profile</a>
                    {% url 'account_logout' as url %}
                    <a href="{% url 'account_logout' %}" class="dropdown-item {% if request.path == url %}active{% endif %}">Logout</a>
                    {% else %}
                    {% url 'account_signup' as url %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item {% if request.path == url %}active{% endif %}">Register</a>
                    {% url 'account_login' as url %}
                    <a href="{% url 'account_login' %}" class="dropdown-item {% if request.path == url %}active{% endif %}">Login</a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
</div>