<div id="topnav" class="row d-none d-md-flex px-3 px-lg-5 topnav">
    <!-- Logo -->
    <div class="col-md-3 col-lg-4 my-auto p-0 pb-2 text-start">
        <a href="{% url 'home' %}" class="nav-link">
            <h1 class="logo fs-1 my-0">Whisky <br> Legends</h1>
        </a>
    </div>
    <!-- Main Nav and Search Bar -->
    <div class="col-md-6 col-lg-4 my-auto">
        <div class="row">
            <div class="col">
                <ul class="list-inline list-unstyled my-auto text-center">
                    <li class="list-inline-item">
                        <a class="nav-link p-2 active" aria-current="page" href="{% url 'shop' %}">Shop</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="nav-link p-2" href="#">Join</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="nav-link p-2" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form method="GET" action="{% url 'shop' %}">
                    <div class="input-group w-100 border rounded-3 search-bar-container">
                        <input class="form-control px-4 search-bar" type="text" name="search"
                            placeholder="Search our whiskies..." title="Main search bar">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black search-bar-icon" type="submit"
                                aria-label="Search bar icon button">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Cart and Account Icons -->
    <div class="col-md-3 col-lg-4 my-auto p-0">
        <ul class="list-unstyled my-0 d-flex align-items-center justify-content-end">
            <li class="me-1">
                <a class="nav-link p-2 cart-icon" href="">
                    <div class="text-center">
                        <div><i class="fas fa-shopping-cart fa-1x"></i></div>
                        <p class="my-0">
                            £0.00
                        </p>
                    </div>
                </a>
            </li>
            <li class="dropdown">
                <a class="nav-link p-2 account-icon" href="#" id="user-options" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <div class="text-center">
                        <div><i class="fas fa-user fa-2x"></i></div>
                    </div>
                </a>
                <div class="dropdown-menu border rounded-3 account-dropdown" aria-labelledby="user-options">
                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <a href="" class="dropdown-item">Product Management</a>
                    {% endif %}
                    <a href="" class="dropdown-item">My Profile</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                    {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
</div>