{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block extra_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}

<h2 class="mb-4 text-center text-uppercase fs-1">{% trans "Sign In" %}</h2>
<div class="row g-0 justify-content-center">
  <div class="col-6">
    <hr class="mt-0 mb-4">
  </div>
</div>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a class="link-custom" href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a class="link-custom" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <p class="mt-2 mb-1">
    <a class="button secondaryAction link-custom" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  </p>
  <button class="btn btn-custom text-uppercase my-2 fs-5 box-shadow-custom" type="submit">{% trans "Sign In" %}</button>
</form>

{% endblock %}
