{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
<h2 class="mb-4 text-center text-uppercase fs-1">{% trans "Sign Out" %}</h2>
<div class="row g-0 justify-content-center">
  <div class="col-6">
    <hr class="mt-0 mb-4">
  </div>
</div>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a href="{% url 'home' %}" class="btn back-to-shop m-2" id="logout-cancel">
    <i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i>
    <span class="text-uppercase">&nbsp;Cancel</span>
  </a>
  <button type="submit"
    class="btn btn-custom text-uppercase m-2 fs-5 box-shadow-custom">{% trans 'Sign Out' %}</button>
</form>


{% endblock %}