{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
<h2 class="mb-4 text-center text-uppercase fs-1">{% trans "Change Password" %}</h2>
<div class="row g-0 justify-content-center">
    <div class="col-6">
        <hr class="mt-0 mb-4">
    </div>
</div>

<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {{ form | crispy }}
    <a href="{% url 'profile' %}" class="btn back-to-shop m-2" id="back-to-profile">
        <i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i>
        <span class="text-uppercase">&nbsp;Back to Profile</span>
      </a>
    <button type="submit" class="btn btn-custom text-uppercase my-2 fs-5 box-shadow-custom"
        name="action">{% trans "Change Password" %}</button>
</form>
{% endblock %}