{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
<h2 class="mb-4 text-center text-uppercase fs-1">{% trans "Set Password" %}</h2>
<div class="row g-0 justify-content-center">
    <div class="col-6">
        <hr class="mt-0 mb-4">
    </div>
</div>

<form method="POST" action="{% url 'account_set_password' %}" class="password_set">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="action" class="btn btn-custom text-uppercase my-2 fs-5 box-shadow-custom"
        value="{% trans 'Set Password' %}" />
</form>
{% endblock %}