{% extends "base.html" %}
{% load static %}
{% load shop_extras %}

{% block content %}
<div class="container-fluid my-5 product-detail-container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-11 col-xl-9 col-xxl-8">
            <div class="row justify-content-center align-items-center">

                <!-- Product information -->
                <div
                    class="col-11 col-sm-8 col-lg-6 order-2 order-lg-1 minw-sm-390px p-0 p-sm-2 text-center text-sm-start">
                    <h2 class="mt- mb-0">{{ product.brand.friendly_name }}: {{ product.name }}</h2>
                    <small>
                        {% if product.brand.region.friendly_name %}
                        {{ product.brand.region.friendly_name }},
                        {% endif %}
                        {{ product.brand.country.friendly_name }}
                    </small>
                    <br>
                    <small>({{ product.volume|round_down }}cl, {{ product.abv|round_down }}%)</small>
                    <p class="mt-4">{{ product.description }}</p>
                    <p class="my-3"><small>Flavour: {{ product.flavour.friendly_name }}</small></p>

                    <!-- Product rating -->
                    <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center">
                        <div class="d-flex flex-column justify-content-center justify-content-sm-start">
                            <div class="text-end">
                                Rating: <strong id="ratingValue">
                                    {% if product.reviews %}{{ product.calc_rating }}{% else %}0{% endif %}</strong>/10
                            </div>
                            <small class="rating-count">({{ product.reviews.count }}
                                vote{% if product.reviews.count != 1 %}s{% endif %})</small>
                        </div>
                        <div id="stars" class="ms-sm-1"></div>
                    </div>

                    <hr class="mx-auto">

                    <!-- Product price -->
                    <p class="fs-2 text-center m-0">£{{ product.price }}</p>

                    <!-- Form for quantity selectors and 'Add to cart' button -->
                    <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">

                            <!-- Quantity selectors -->
                            <div class="col-12 d-flex flex-column justify-content-between align-items-center mt-4 mb-5">
                                <p class="mb-1"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-custom rounded-0 rounded-start"
                                                data-product-id="{{ product.id }}" id="decrement-qty-{{ product.id }}">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                        <input class="form-control qty-input" type="number" name="quantity" value="1"
                                            min="1" max="99" data-product-id="{{ product.id }}"
                                            id="id-qty-{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-custom rounded-0 rounded-end"
                                                data-product-id="{{ product.id }}" id="increment-qty-{{ product.id }}">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Add to cart and back to shop buttons -->
                            <div class="col-12 d-flex justify-content-between align-items-center px-375px-3">
                                <a href="{% url 'shop' %}" class="btn p-2 back-to-shop me-1">
                                    <i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i>
                                    <span class="text-uppercase">&nbsp;Back to shop</span>
                                </a>
                                <input type="submit" class="btn btn-custom text-uppercase ms-1 fs-5"
                                    value="Add to cart">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>

                    <!-- Wishlist button -->
                    <div class="d-flex justify-content-center mt-4">
                        {% if user.is_authenticated %}
                        <form class="form" action="{% url 'update_wishlist' product.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="wishlist-btn text-uppercase">
                                {% if wishlist %}
                                Remove from wishlist<span class="ms-1"><i class="fas fa-heart"></i></span>
                                {% else %}
                                Add to wishlist<span class="ms-1"><i class="far fa-heart"></i></span>
                                {% endif %}
                            </button>
                            <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                        </form>
                        {% else %}
                        <p class="m-0">
                            <a href="{% url 'account_signup' %}?next={{request.path}}" class="link-custom">Create an account</a> or 
                            <a href="{% url 'account_login' %}?next={{request.path}}" class="link-custom">log In</a> to add this product to
                            your wishlist
                        </p>
                        {% endif %}
                    </div>
                </div>

                <!-- Product image -->
                <div class="col-11 col-sm-8 col-lg-6 order-1 order-lg-2 minw-sm-390px">
                    {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img src="{{ product.image.url }}" class="img-fluid"
                            alt="{{ product.brand.friendly_name }}: {{ product.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img src="{{ MEDIA_URL }}no-image.jpg" class="img-fluid"
                            alt="{{ product.brand.friendly_name }}: {{ product.name }}">
                    </a>
                    {% endif %}
                </div>
            </div>
            <hr class="my-4 mx-auto">
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-11 col-xl-9 col-xxl-8 rounded-3 box-shadow-custom">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 d-flex flex-column justify-content-center">
                    <h3 class="my-4 text-center">Review This Product</h3>
                    {% if user.is_authenticated %}
                    <form class="mb-4 px-3" action="{% url 'product_detail' product.id %}" method="POST" id="review-form">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <h5 class="text-center mt-4 mb-1">Your rating</h5>
                        <div class="d-flex justify-content-center mb-4">
                            <!-- CREDIT - https://medium.com/free-code-camp/how-to-make-the-impossible-possible-in-css-with-a-little-creativity-bd96bb42b29d#:~:text=If%20you%20ever%20used%20CSS,to%20select%20what%20came%20before. -->
                            <div class="review-rating">
                                {% for i in range %}                               
                                <input type="radio" name="rating" value="{{10|subtract:i}}" id="{{10|subtract:i}}" required>
                                <label for="{{10|subtract:i}}"><span class="review-star"></span></label>
                                {% endfor %}
                            </div> 
                        </div>
                        <div class="d-flex justify-content-center">
                            <button id="submit-button" class="btn btn-custom text-uppercase col-12 col-sm-8 col-md-6 mb-2 fs-5 box-shadow-custom">
                                <span class="text-uppercase">Submit Review &nbsp;<i class="fas fa-comment-alt"></i></span>
                            </button>
                        </div>
                    </form>
                    {% else %}
                    <p class="text-center mb-4">
                        <a href="{% url 'account_signup' %}?next={{request.path}}" class="link-custom">Create an account</a> or 
                        <a href="{% url 'account_login' %}?next={{request.path}}" class="link-custom">log In</a> to review this product
                    </p>
                    {% endif %}
                </div>
            </div>
            <hr class="my-0 mx-auto w-75">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 d-flex flex-column justify-content-center align-items-center align-items-md-start mb-4">
                    <h3 class="my-4 w-100 text-center">Customer Reviews</h3>
                    {% for review in reviews %}
                    <div class="review-stars text-logo" data-rating="{{ review.rating }}"></div>
                    <p class="my-0 px-2 px-md-0"><strong>
                        {% with review.user as user %}
                        {% if user %}{% if user.userprofile.default_full_name %}{{ user.userprofile.default_full_name }}{% else %}{{ user.username }}{% endif %}{% else %}Unknown User{% endif %}{% endwith %}, {{ review.date|date:'jS F Y' }}</strong></p>
                    <p class="my-0 px-2 px-md-0 text-muted text-center text-md-start">{{ review.content }}</p>
                    {% if user == review.user or user.is_superuser %}
                    <form class="form" action="{% url 'delete_review' review.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="remove-btn text-danger text-uppercase mt-1 p-0 d-block">
                            <a>Delete<span class="ms-1"><i class="fas fa-trash"></i></span></a>
                        </button>
                    </form>
                    {% if not forloop.last %}
                    <hr class="mt-2">
                    {% endif %}
                    {% else %}
                    {% if not forloop.last %}
                    <hr>
                    {% endif %}
                    {% endif %}
                    {% empty %}
                    <p class="text-center text-muted fs-5 mb-5"><strong>This product has no reviews yet.</strong></p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'shop/includes/quantity_input_script.html' %}
<script src="{% static 'shop/js/product_detail.js' %}"></script>
{% endblock %}