{% extends "base.html" %}
{% load static %}
{% load shop_extras %}

{% block content %}
<div class="container-fluid mb-5 my-lg-0 product-detail-container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-11 col-xl-9 col-xxl-8">
            <div class="row justify-content-center align-items-center">

                <!-- Product information -->
                <div class="col-11 col-sm-8 col-lg-6 order-2 order-lg-1 minw-sm-390px p-0 p-sm-2 text-center text-sm-start">
                    <h2 class="mt- mb-0">{{ product.brand.friendly_name }}: {{ product.name }}</h2>
                    <small>({{ product.volume|round_down }}cl) ({{ product.abv|round_down }}%)</small>
                    <p class="mt-4">{{ product.description }}</p>

                    <!-- Product rating -->
                    <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center">
                        <div class="d-flex flex-column justify-content-center justify-content-sm-start">
                            <div>
                                Rating: <strong id="ratingValue">
                                    {% if product.rating_total and product.rated.count > 0 %}{{ product.calc_rating }}{% else %}0{% endif %}
                                </strong>/10
                            </div>
                            <small class="rating-count">({{ product.rated.count }}
                                vote{% if product.rated.count != 1 %}s{% endif %})</small>
                        </div>
                        <div id=stars class="ms-sm-1"></div>
                    </div>

                    <hr class="mx-auto">

                    <!-- Product price -->
                    <p class="fs-2 text-center">£{{ product.price }}</p>

                    <!-- Wishlist button -->
                    <div class="d-flex justify-content-center mb-4">
                        <button class="wishlist-btn text-uppercase">
                            {% if wishlist %}
                            Remove from wishlist &nbsp;<i class="fas fa-heart">
                                {% else %}
                                Add to wishlist &nbsp;<i class="far fa-heart"></i>
                                {% endif %}
                        </button>
                    </div>

                    <!-- Add to cart and back to shop buttons -->
                    <div class="d-flex justify-content-between align-items-center mx-3">
                        <a href="{% url 'shop' %}" class="btn p-2 back-to-shop">
                            <i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i>
                            <span class="text-uppercase">&nbsp;Back to shop</span>
                        </a>
                        <button class="btn btn-custom text-uppercase fs-5">Add to cart</button>
                    </div>
                </div>

                <!-- Product image -->
                <div class="col-11 col-sm-8 col-lg-6 order-1 order-lg-2 minw-sm-390px">
                    {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img src="{{ product.image.url }}" class="card-img-top img-fluid"
                            alt="{{ product.brand.friendly_name }}: {{ product.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img src="{{ MEDIA_URL }}no-image.jpg" class="card-img-top img-fluid"
                            alt="{{ product.brand.friendly_name }}: {{ product.name }}">
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'shop/js/product_detail.js' %}"></script>
{% endblock %}