.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: .3rem;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    border-color: rgba(97, 27, 27, 50%);
    box-shadow: 0 0 0 0.25rem rgba(97, 27, 27, 40%);
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

#payment-form .form-control,
#card-element {
    border-color: rgba(97, 27, 27, 25%);
    margin-bottom: .5rem;
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #7e868d !important;
}

.lazyselect {
    line-height: 1 !important;
}

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(97, 27, 27, .9);
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    color: rgba(255, 255, 255, .7);
}

/* Animations */
.fadein {
    animation-name: fadein;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeout {
    animation-name: fadeout;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* For very small screen sizes with maximum height of 470px */
@media screen and (max-width: 470px) {
    .order-summary {
        font-size: 80%;
    }
}