<div class="modal fade delete-product-modal" id="deleteProductModal{{ product.id }}" tabindex="-1" aria-labelledby="deleteProductModalLabel{{ product.id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content box-shadow-custom">
            <div class="modal-header pb-0">
                <h4 class="modal-title text-center w-100" id="deleteProductModalLabel{{ product.id }}"><strong>Are you sure you want to delete this product?</strong></h4>
            </div>
            <div class="modal-footer justify-content-evenly pb-4">
                <button type="button" class="btn btn-custom text-uppercase ms-1 fs-5 rounded-3 box-shadow-custom w-25" data-bs-dismiss="modal">No</button>
                <a class="btn btn-custom text-uppercase ms-1 fs-5 rounded-3 box-shadow-custom w-25" href="{% url 'delete_product' product.id %}">Yes</a>
            </div>
        </div>
    </div>
</div>