<!-- CREDIT - the idea for this script came from Code Institue's walkthrough project 'Boutique Ado' -->
<script>
    // Disable +/- buttons outside 1-99 range
    function handleEnableDisable(productId) {
        let currentValue = parseInt(document.querySelector(`#id-qty-${productId}`).value);
        let minusDisabled = currentValue < 2;
        let plusDisabled = currentValue > 98;
        document.querySelector(`#decrement-qty-${productId}`).disabled = minusDisabled;
        document.querySelector(`#increment-qty-${productId}`).disabled = plusDisabled;
    }

    // Ensure proper enabling/disabling of qty-input elements on page load
    let allQtyInputs = document.querySelectorAll('.qty-input');
    for (let i = 0; i < allQtyInputs.length; i++) {
        let productId = allQtyInputs[i].getAttribute('data-product-id');
        handleEnableDisable(productId);
    }

    // Check enable/disable every time the input is changed
    allQtyInputs.forEach(item => {
        item.addEventListener('change', function () {
            handleEnableDisable(this.getAttribute('data-product-id'));
        });
    });

    // Increment quantity
    document.querySelectorAll('.increment-qty').forEach(item => {
        item.addEventListener('click', function (e) {
            e.preventDefault();
            let qtyInput = this.closest('.input-group').querySelector('.qty-input');
            let currentValue = parseInt(qtyInput.value);
            qtyInput.value = currentValue + 1;
            let productId = this.getAttribute('data-product-id');
            handleEnableDisable(productId);
        });
    });

    // Decrement quantity
    document.querySelectorAll('.decrement-qty').forEach(item => {
        item.addEventListener('click', function (e) {
            e.preventDefault();
            let qtyInput = this.closest('.input-group').querySelector('.qty-input');
            let currentValue = parseInt(qtyInput.value);
            qtyInput.value = currentValue - 1;
            let productId = this.getAttribute('data-product-id');
            handleEnableDisable(productId);
        });
    });
</script>
<!-- END CREDIT -->