<div class="toast custom-toast rounded-3 box-shadow- bg-light" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
    <div class="toast-header">
        <strong class="me-auto">Alert! <span class="text-primary"><i class="fas fa-info-circle"></i></span></strong>
        <button type="button" class="toast-close" data-bs-dismiss="toast" aria-label="Close"><i class="fas fa-times"></i></button>
    </div>
    <div class="toast-body">
        {{ message }}
    </div>
</div>